In [2]:
import pandas as pd
df = pd.read_csv("C:/Users/Shan Sajeer/Documents/Saiket Systems Data science Internship/Customer Churn Analysis and Prediction Project/Data/Telco_Customer_Churn_Dataset  (3).csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
df.columns = df.columns.str.strip()

In [4]:
df.shape

(7043, 21)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [7]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [8]:
df = df.replace({
    "No internet service" : "No",
    "No phone service" : "No"
})

In [9]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [11]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [12]:
df['TotalCharges'].isnull().sum()

np.int64(0)

In [13]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

In [14]:
df['TotalCharges'].isnull().sum()

np.int64(11)

In [15]:
df['TotalCharges'] = df['TotalCharges'].fillna(df['TotalCharges'].median())

In [16]:
df['TotalCharges'].isnull().sum()

np.int64(0)

In [19]:
df['Churn_flag'] = df['Churn'].map({"Yes" : 1, "No" : 0})

In [20]:
df['Churn_flag'].value_counts()

Churn_flag
0    5174
1    1869
Name: count, dtype: int64

In [21]:
cat_cols = df.select_dtypes(include = ['object']).columns.tolist()

In [22]:
cat_cols = [c for c in cat_cols if c not in ['customerID','Churn']]

In [23]:
df_encoded = pd.get_dummies(df, columns = cat_cols, drop_first = True)

In [24]:
df_encoded.head()

,customerID,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,Churn_flag,gender_Male,Partner_Yes,Dependents_Yes,...,DeviceProtection_Yes,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,7590-VHVEG,0,1,29.85,29.85,No,0,False,True,False,...,False,False,False,False,False,False,True,False,True,False
1,5575-GNVDE,0,34,56.95,1889.50,No,0,True,False,False,...,True,False,False,False,True,False,False,False,False,True
2,3668-QPYBK,0,2,53.85,108.15,Yes,1,True,False,False,...,False,False,False,False,False,False,True,False,False,True
3,7795-CFOCW,0,45,42.30,1840.75,No,0,True,False,False,...,True,True,False,False,True,False,False,False,False,False
4,9237-HQITU,0,2,70.70,151.65,Yes,1,False,False,False,...,False,False,False,False,False,False,True,False,True,False

In [26]:
x = df_encoded.drop(columns = ['Churn_flag','Churn'],errors = 'ignore')
y = df_encoded['Churn_flag']

In [27]:
x.shape, y.shape

((7043, 24), (7043,))

In [28]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train, y_test = train_test_split(
    x, y, test_size = 0.2, random_state = 42, stratify = y)

In [30]:
x_train.shape

(5634, 24)

In [31]:
x_test.shape

(1409, 24)

In [32]:
y_train.shape

(5634,)

In [33]:
y_test.shape

(1409,)

In [34]:
train_df = x_train.copy()
train_df['Churn_flag']=y_train

In [35]:
test_df = x_test.copy()
test_df['Churn_flag']=y_test

In [36]:
train_df.head()

,customerID,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_Yes,...,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_flag
3738,4950-BDEUX,0,35,49.20,1701.65,True,False,False,False,False,...,False,True,True,False,False,False,False,True,False,0
3151,7993-NQLJE,0,15,75.10,1151.55,True,True,True,True,False,...,False,False,False,False,False,False,False,False,True,0
4860,7321-ZNSLA,0,13,40.55,590.35,True,True,True,False,False,...,True,False,False,False,True,False,False,False,True,0
3867,4922-CVPDX,0,26,73.50,1905.70,False,True,False,True,False,...,False,True,True,False,True,True,True,False,False,0
3810,2903-YYTBW,0,1,44.55,44.55,True,True,True,True,False,...,False,False,False,False,False,False,False,True,False,0

In [37]:
test_df.head()

,customerID,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_Yes,...,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_flag
437,4376-KFVRS,0,72,114.05,8468.20,True,True,True,True,True,...,True,True,True,False,True,True,True,False,False,0
2280,2754-SDJRD,1,8,100.15,908.55,False,False,False,True,True,...,True,True,True,False,False,True,True,False,False,0
2235,9917-KWRBE,0,41,78.35,3211.20,False,True,True,True,True,...,False,True,False,True,False,True,True,False,False,0
4460,0365-GXEZS,0,18,78.20,1468.75,True,True,False,True,False,...,True,False,False,False,False,False,False,True,False,0
3761,9385-NXKDA,0,72,82.65,5919.35,False,True,False,True,True,...,False,True,True,False,True,True,True,False,False,0

In [38]:
train_path = "C:/Users/Shan Sajeer/Documents/Saiket Systems Data science Internship/Customer Churn Analysis and Prediction Project/Data/train.csv"
test_path = "C:/Users/Shan Sajeer/Documents/Saiket Systems Data science Internship/Customer Churn Analysis and Prediction Project/Data/test.csv"

In [39]:
train_df.to_csv(train_path,index=False)
test_df.to_csv(test_path,index=False)

In [40]:
train_path, test_path

('C:/Users/Shan Sajeer/Documents/Saiket Systems Data science Internship/Customer Churn Analysis and Prediction Project/Data/train.csv',
 'C:/Users/Shan Sajeer/Documents/Saiket Systems Data science Internship/Customer Churn Analysis and Prediction Project/Data/test.csv')